#Hero{
	background-image: url(./images/computer.jpg);
	height: 500px;

}

.parallax{
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}


.icon {
	font-size: 4rem;
	color: #417d26;
}



#photo1{
	background-image: url(./images/meeting.jpg);
	background-size: cover;

}

#photo2{
	background-image: url(./images/businessman.jpeg);
	background-size: cover;

}

#photo3{
	background-image: url(./images/coding.jpeg);
	background-size: cover;

}

a:hover{
	text-decoration: none;
}

